FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="https://us1.prisma.sh/yourusername/sick-fits/dev"
PRISMA_SECRET="pleasedonttellthistoanyonepleasedont"
APP_SECRET="jwtsecret123456"
STRIPE_SECRET="sk_123youchanget his"
PORT=4444
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="usernamehere"
MAIL_PASS="passwordhere"
